/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Set default styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  color: black;
}

/* Header styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
}

header a {
  color: inherit;
  text-decoration: none;
}

header h1 {
  display: inline-block;
}

header h1 span {
  display: block;
}

/* Main content styles */
main {
  justify-content: center;
  align-items: center;
}
h1, h2 {
  font-size: 4em;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 5em;
  margin-bottom: 20px;
}

.subtext {
  font-size: 1.5em;
  font-weight: bold;
  opacity: 0.6;
  margin-bottom: 50px;
  text-align: center;
}

.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}

input[type="email"] {
  padding: 12px;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #F2F2F2;
  margin-right: 8px;
}

button[type="submit"] {
  padding: 12px 24px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: #1B1B1B;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1em;
}

.footer-left {
  flex: 1;
  opacity: 0.6;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-right a {
  color: #1B1B1B;
  text-decoration: none;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.footer-right a:hover {
  opacity: 1;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  
  header {
    background-color: black;
    color: white;
  }
  
  input[type="email"] {
    background-color: #1B1B1B;
    color: white;
  }
  
  button[type="submit"] {
    background-color: white;
    color: black;
  }
  
  footer {
    background-color: black;
    color: white;
  }
  
  .footer-left, .footer-right {
    color: #F2F2F2;
  }
  
  .footer-right a {
    color: #F2F2F2;
  }
}
